.header{
    height: 120px;
    background-image: linear-gradient(0,#fd6032,#f5412d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
}
.header__navbar-item{
    display: inline-block;
}
